<!DOCTYPE unspecified PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
	<head th:replace="~{layout :: head}"></head>
	
	<body class="bg-success">
	
		<div th:replace="~{layout :: menu}"></div>
		
		<div class="container">
	
			<div class="jumbotron mt-3">
				<h1 class="display-4 title">Administrador de Renda Fixa</h1>
				<p class="lead letters">Movimentações dos investimentos de renda fixa.</p>
				<a class="btn btn-outline-light" th:href="@{/rendaFixa/cadastro}" role="button">Adicionar Novo Aporte</a>
				<hr class="my-4">
			</div>
	
			<div class="col">
		    	<div class="card mb-4 rounded-3 shadow-sm border-dark">
			        	
		        	<div class="card-header py-3 bg-success-light border-dark">
		            	<h4 class="my-0 fw-normal title">Composição de Ativos</h4>
		          	</div>
		          
		          	<div class="card-body p-0 m-0">
		            
		            	<table class="table table-success table-striped m-0">
				  
						  <thead>
						    <tr class="table-info">
						      <th scope="col">ID</th>
						      <th scope="col">Banco</th>
						      <th scope="col">Vencimento</th>
						      <th scope="col">Valor</th>
						      <th scope="col">Período Movimentação</th>
						    </tr>
						  </thead>
						  
						  <tbody>
						    
						    <tr th:each="rf : ${list}">
						      <th scope="row" th:text="${rf.id}"></th>
						      <td th:text="${rf.nome}"></td>
						      <td th:text="${#temporals.format(rf.vencimento, 'dd/MM/yyyy')}"></td>
						      <td th:text="${#numbers.formatCurrency(rf.valor)}"></td>
						      <td th:text="${#temporals.format(rf.dataMovimentacao, 'dd/MM/yyyy')}"></td>
						    </tr>
						    
						  </tbody>
						  
						</table>
		        
		    		</div>
	
				</div>
			
			</div>
	
		</div>
		
		<div th:replace="~{layout :: footer}"/>
		
	</body>
</html>