<!DOCTYPE unspecified PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head th:replace="~{layout :: head}"></head>

<body class="bg-success" onload="onLoad()">
	
	<div th:replace="~{layout :: menu}"></div>

	<!-- COMPLETE PAGE -->
	<div class="container" id="aporteMensal">

		<div class="jumbotron m-3">
		  <h1 class="display-4 title">Aporte Mensal</h1>
		  <p class="lead letters">Monte o aporte e a diversificação da sua carteira.</p>
		</div>
	
		<hr class="my-4">
	
		<div class="col-sm-3 mb-5">
		    <label for="inputCity" class="form-label title">Informe o valor do aporte mensal:</label>
		    <input type="text" class="form-control" id="inputCity">
		</div>
	
		<!-- <form th:action="@{/}" th:object="${requestAporte}" method="POST">
		
			
		
		</form> -->
		
		<div class="card p-3 bg-success mb-2">
		  		<div class="card-body">
		  		
		  			<h5 class="card-title">Ativos de Alto Risco</h5>
    				<p class="card-text">Ações e Criptomoedas</p>
		  		
				  	<div class="row g-3">
				    
					  <div class="col-sm-2">
					    <label for="acao" class="form-label title">Ações</label>
					    <input type="text" class="form-control" id="inputCity" v-model="aporte.acao">
					  </div>
					  
					  <div class="col-sm-2">
					    <label for="fii" class="form-label title">CriptoMoedas</label>
					    <input type="text" class="form-control" id="inputCity" v-model="aporte.crypto">
					  </div>
				    
				  </div>
			   
			    </div>
		  	</div>
		  	
		  	<div class="card p-3 bg-success mb-2">
		  		<div class="card-body">
		  		
		  			<h5 class="card-title">Ativos de Médio Risco</h5>
    				<p class="card-text">Ações e Criptomoedas</p>
		  		
				  	<div class="row g-3">
				    
					  <div class="col-sm-2">
					    <label for="fii" class="form-label title">Fundos Imobiliários</label>
					    <input type="text" class="form-control" id="inputCity" v-model="aporte.fii">
					  </div>
				    
				  </div>
			   
			    </div>
		  	</div>
		  	
		  	<div class="card p-3 bg-success mb-2">
		  		<div class="card-body">
		  		
		  			<h5 class="card-title">Ativos de Baixo Risco</h5>
    				<p class="card-text">Tesouro Direto, Renda Fixa e outros..</p>
		  		
				  	<div class="row g-3">
				    
					  <div class="col-sm-2">
					    <label for="td" class="form-label title">Tesouro Direto</label>
					    <input type="text" class="form-control" id="inputCity" v-model="aporte.td">
					  </div>
					  
					  <div class="col-sm-2">
					    <label for="rf" class="form-label title">Renda Fixa</label>
					    <input type="text" class="form-control" id="inputCity" v-model="aporte.rf">
					  </div>
				    
				  </div>
			   
			    </div>
		  	</div>
		  	
		  <button class="btn btn-dark m-3" v-on:click="montarAporte(aporte)">Montar Aporte</button>
	
	</div>
	
	<div th:replace="~{layout :: footer}"/>
	
	<script>
		
		function onLoad() {
			var app = new Vue({
				el: '#aporteMensal',
				data: {
					aportes: [],
					aporte : []
				}, 
				mounted() {
					/* axios
					.get('https://api/fiis/lista')
					.then(response => (this.aportes = response.data)) */
				},
				methods : {
					montarAporte : function(aporte) {
				          console.log(aporte) 
				        }
				}
			});
		}
		
	</script>
	
</body>
</html>