<!DOCTYPE unspecified PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head th:replace="~{layout :: head}"></head>

<body>

	<!-- <div th:replace="~{layout :: header}"></div> -->
	
	<div th:replace="~{layout :: top-bar}"></div>

	<div class="container">

		<div class="jumbotron">
			Bem vindo,
			<h1 class="display-4" th:text="${usuario.username}"></h1>
			<p class="lead">Use os recursos da plataforma para gerenciar seus
				investimentos.</p>
			<hr class="my-4">
		</div>
		
		<div>
			<nav class="navbar navbar-expand bg-light d-flex justify-content-around mb-3">
				<div class="container-fluid">
		
					<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
						<div class="navbar-nav">
							<a class="btn btn-outline-success m-2" aria-current="page" href="/acao/admin">Ações</a>
							<a class="btn btn-outline-success m-2" aria-current="page" href="/fii/admin">Fundos Imobiliários</a>
							<a class="btn btn-outline-success m-2" aria-current="page" href="/crypto/admin">Criptomoedas</a>
							<a class="btn btn-outline-success m-2" aria-current="page" href="/tesouro/admin">Tesouro Direto</a>
							<a class="btn btn-outline-success m-2" aria-current="page" href="/rendaFixa/admin">Renda Fixa</a>
						</div>
					</div>
		
				</div>
			</nav>
		</div>
			
		<div>
			  
			  <script src="https://code.highcharts.com/highcharts.js"></script>
			  <!-- <script src="/js/highcharts.js"></script> -->
			  <script type="text/javascript" src="/js/themes/gray.js"></script>
			  
			  <div id="container" style="width:100%; height:400px;"></div>
			  
			  <script>
			  
				// Build the chart
			  Highcharts.chart('container', {
			      chart: {
			          plotBackgroundColor: null,
			          plotBorderWidth: null,
			          plotShadow: false,
			          type: 'pie'
			      },
			      title: {
			          text: 'Composição da Carteira de Investimentos'
			      },
			      tooltip: {
			          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
			      },
			      accessibility: {
			          point: {
			              valueSuffix: '%'
			          }
			      },
			      plotOptions: {
			          pie: {
			              allowPointSelect: true,
			              cursor: 'pointer',
			              dataLabels: {
			                  enabled: false
			              },
			              showInLegend: true
			          }
			      },
			      series: [{
			          name: '% Carteira',
			          colorByPoint: true,
			          data: [{
			              name: 'Tesouro Direto',
			              y: 61.41,
			              sliced: true,
			              selected: true
			          }, {
			              name: 'Fundos Imobiliários',
			              y: 11.84
			          }, {
			              name: 'Ações',
			              y: 10.85
			          }, {
			              name: 'Criptomoedas',
			              y: 4.67
			          }, {
			              name: 'Renda Fixa',
			              y: 4.18
			          }, {
			              name: 'Outros',
			              y: 7.05
			          }]
			      }]
			  });
			  
			  </script>
			
		</div>
	
	</div>
	
	<div class="logo-container p-2 d-flex justify-content-center">

		<b>Sistema desenvolvido por Luís Felipe</b>
	
	</div>
</body>
</html>