<!DOCTYPE unspecified PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head th:replace="~{layout :: head}"></head>

<body>

	<div th:replace="~{layout :: header}"></div>

	<div class="container">

		<div>
			<!-- <nav
				class="navbar navbar-expand bg-light d-flex justify-content-around"
				style="background-color: #e3f2fd;">

			<div class="container-fluid">
				<a class="navbar-brand" href="/home"> <img
					src="https://w7.pngwing.com/pngs/810/419/png-transparent-kakashi-hatake-sasuke-uchiha-itachi-uchiha-sharingan-uchiha-clan-naruto-smiley-cartoon-desktop-wallpaper.png"
					alt="" width="30" height="24" class="d-inline-block align-text-top">
					Shinobi
				</a>

				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a class="nav-link" href="/home">Home</a>
					</div>
				</div>

				<div class="collapse navbar-collapse">
					<input class="form-control me-2" type="search"
						placeholder="Pesquisa..." aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Pesquisar</button>
				</div>
			</div>
			</nav> -->
		</div>

		<div>
			<div class="alert alert-info" role="alert">
				Olá <span th:text="${usuario.nome}"></span>, bem vindo!
			</div>
		</div>

		<div class="jumbotron">
			Bem vindo,
			<h1 class="display-4" th:text="${usuario.nome}"></h1>
			<p class="lead">Use os recursos da plataforma para gerenciar seus
				investimentos.</p>
			<hr class="my-4">
		</div>

		<nav class="navbar navbar-expand bg-light d-flex justify-content-around mb-3">
			<div class="container-fluid">
	
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a class="btn btn-outline-success m-2" aria-current="page" href="/acao/admin">Ações</a>
						<a class="btn btn-outline-success m-2" aria-current="page" href="/fii/admin">Fundos Imobiliários</a>
						<a class="btn btn-outline-success m-2" aria-current="page" href="/crypto/admin">Criptomoedas</a>
						<a class="btn btn-outline-success m-2" aria-current="page" href="/tesouro/admin">Tesouro Direto</a>
						<a class="btn btn-outline-success m-2" aria-current="page" href="/rendaFixa/admin">Renda Fixa</a>
					</div>
				</div>
	
				<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#formInvestimento" data-bs-whatever="@getbootstrap">
					Novo Ativo
				</button>
	
				<div class="modal fade" id="formInvestimento" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	
					<form id="cadInvest" th:object="${requestInvestimento}" action="/investimento/novo" method="POST">
						<div class="modal-dialog">
	
							<div class="modal-content">
		
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Nome do Investimento</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
		
								<div class="modal-body">
		
										<div class="mb-3">
											<label for="nome" class="col-form-label">Investimento:</label>
											<input th:field="*{nome}" class="form-control" th:errorclass="is-invalid" placeholder="Nome do investimento (ativo)" ></input>
											<div th:errors="*{nome}" class="invalid-feedback"/>
										</div>
										
										<div class="mb-3">
											<label for="sigla" class="col-form-label">Sigla:</label>
											<input th:field="*{sigla}" class="form-control" th:errorclass="is-invalid" placeholder="Sigla do ativo"></input>
											<div th:errors="*{sigla}" class="invalid-feedback"/>
										</div>
										
										<div class="mb-3">
											<label for="atuacao" class="col-form-label">Atuação:</label>
											<input th:field="*{atuacao}" class="form-control" th:errorclass="is-invalid" placeholder="Ramo de atuação do ativo"></input>
											<div th:errors="*{atuacao}" class="invalid-feedback"/>
										</div>
										
										<div class="mb-3">
											<label for="path" class="col-form-label">Path (caminho):</label>
											<input th:field="*{path}" class="form-control" placeholder="Rota de acesso à página"></input>
										</div>
										
										<div class="mb-3">
											<label for="descricao" class="col-form-label">Descrição:</label>
											<textarea th:field="*{descricao}" class="form-control" placeholder="Descrição do investimento"></textarea>
										</div>
										
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-primary">Salvar</button>
										</div>
								</div>
		
							</div>
		
						</div>
					</form>
	
				</div> -->
	
			</div>
		</nav>

	</div>
	
	<div class="logo-container p-2 d-flex justify-content-center">

		<b>Sistema desenvolvido por Luís Felipe</b>
	
	</div>
</body>
</html>