<!DOCTYPE unspecified PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head th:replace="~{layout :: head}"></head>

<body class="bg-success">

	<div th:replace="~{layout :: header}"></div>

	<!-- <div class="container">
	
		<div class="container p-5">

			<div class="card mb-3">
				<form th:action="@{/login}" method="post" class="card-body">
				
					<div class="d-flex justify-content-center">
	      				<h1 class="h3 mb-3 font-weight-normal">Acesse sua conta</h1>	
					</div>
				
					<div class="form-floating mb-3">
						<input name="username" class="form-control" placeholder="Usuário"></input>
						<label for="username">Usuário</label>
					</div>
					<div class="form-floating mb-3">
						<input type="password" name="password" class="form-control" placeholder="Senha"></input>
						<label for="password">Senha</label>
					</div>
					<button type="submit" class="btn btn-primary">Login</button>			
				</form>
			</div>
	
		</div>
	
	</div> -->
	
	<!-- Section: Design Block -->
	<section class="background-radial-gradient overflow-hidden">
	
	  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
	    <div class="row gx-lg-5 align-items-center mb-5">
	      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
	        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
	          Shinobi <br />
	          <span style="color: hsl(218, 81%, 75%)">Gerencie seus Investimentos</span>
	        </h1>
	        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
	          Plataforma completa com os recursos que você precisa para organizar sua carteira de investimentos
	          e maximizando seu potencial de acumulação de patrimônio
	        </p>
	      </div>
	
	      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
	        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
	        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
	
	        <div class="card bg-glass">
	          <div class="card-body px-4 py-5 px-md-5">
	            <form th:action="@{/login}" method="post">
	              <!-- 2 column grid layout with text inputs for the first and last names -->
	              <div class="row">
	                <div class="col-md-6 mb-4">
	                  <div class="form-outline form-floating">
	                    <input name="nome" class="form-control" placeholder="Usuário"></input>
						<label for="nome">Nome</label>
	                  </div>
	                </div>
	                <div class="col-md-6 mb-4">
	                  <div class="form-outline form-floating">
	                    <input name="sobrenome" class="form-control" placeholder="Usuário"></input>
						<label for="sobrenome">Sobrenome</label>
	                  </div>
	                </div>
	              </div>
	
	              <!-- Email input -->
	              <div class="form-outline form-floating mb-4">
	                <input name="username" class="form-control" placeholder="Usuário"></input>
					<label for="username">Username</label>
	              </div>
	
	              <!-- Password input -->
	              <div class="form-outline form-floating mb-4">
	                <input type="password" name="password" class="form-control" placeholder="Senha"></input>
						<label for="password">Senha</label>
	              </div>
	
	              <!-- Checkbox -->
	              <div class="form-check d-flex justify-content-center mb-4">
	                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
	                <label class="form-check-label" for="form2Example33">
	                  Deseja receber ofertas?
	                </label>
	              </div>
	
	              <!-- Submit button -->
	              <button type="submit" class="btn btn-primary">Login</button>
	
	              <!-- Register buttons -->
	              <!-- <div class="text-center">
	                <p>or sign up with:</p>
	                <button type="button" class="btn btn-link btn-floating mx-1">
	                  <i class="fab fa-facebook-f"></i>
	                </button>
	
	                <button type="button" class="btn btn-link btn-floating mx-1">
	                  <i class="fab fa-google"></i>
	                </button>
	
	                <button type="button" class="btn btn-link btn-floating mx-1">
	                  <i class="fab fa-twitter"></i>
	                </button>
	
	                <button type="button" class="btn btn-link btn-floating mx-1">
	                  <i class="fab fa-github"></i>
	                </button>
	              </div> -->
	            </form>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</section>
	<!-- Section: Design Block -->
	
	<div th:replace="~{layout :: footer}"/>
	
</body>
</html>