<!DOCTYPE unspecified PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
	<head th:replace="~{layout :: head}"></head>
	
	<body class="bg-success">
	
		<div th:replace="~{layout :: menu}"></div>
		
		<div class="container">
	
			<div class="jumbotron mt-3">
				<h1 class="display-4 title">Administrador de Ações</h1>
				<p class="lead letters">Movimentações das ações brasileiras/americanas.</p>
				<a class="btn btn-outline-light" th:href="@{/acao/cadastro}" role="button">Adicionar Novo Aporte</a>
				<hr class="my-4">
			</div>
	
			<div class="col">
		    	<div class="card mb-4 rounded-3 shadow-sm border-dark">
			        	
		        	<div class="card-header py-3 bg-success-light border-dark">
		            	<h4 class="my-0 fw-normal title">Composição de Ativos</h4>
		          	</div>
		          
		          	<div class="card-body p-0 m-0">
		            
		            	<table class="table table-success table-striped m-0">
				  
					  		<thead>
							    <tr class="table-dark">
							      <th scope="col">Id</th>
							      <th scope="col">Ação</th>
							      <th scope="col">Ticker</th>
							      <th scope="col">Valor Unitário</th>
							      <th scope="col"><span class="badge bg-primary rounded-pill">Quantidade</span></th>
							      <th scope="col">Valor Total</th>
							      <th scope="col">Período Movimentação</th>
							    </tr>
					  		</thead>
					  
						 	<tbody>
						    
						    	<tr th:each="acao : ${list}">
						      		<th scope="row" th:text="${acao.id}"></th>
							      	<td th:text="${acao.nome}"></td>
							      	<td th:text="${acao.ticker}"></td>
							      	<td th:text="${#numbers.formatCurrency(acao.valor)}"></td>
							      
							      	<td><span th:classappend="${acao	.movimentacao.name()} == 'COMPRA' ? 'bg-primary' : 'bg-danger'" class="badge rounded-pill" th:text="${acao.quantidade}"></span></td>
							      
							      	<td th:text="${#numbers.formatCurrency(acao.total)}"></td>
							      	<td th:text="${#temporals.format(acao.dataMovimentacao, 'dd/MM/yyyy')}"></td>
						   	 	</tr>
						    
							</tbody>
					
						</table>
		        
		    		</div>
	
				</div>
			
			</div>
		
		</div>
		
		<div th:replace="~{layout :: footer}"/>
		
	</body>
</html>