<!DOCTYPE unspecified PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head th:replace="~{layout :: head}"></head>

<body class="bg-success" onload="onLoad()">

	<div th:replace="~{layout :: menu}"></div>

	<!-- COMPLETE PAGE -->
	<div class="container" id="wallet">

		<!-- MAIN -->
		<main class="m-3"> <script
			src="https://code.highcharts.com/highcharts.js"></script> <script
			src="/js/highcharts.js"></script> <!-- INÍCIO DA COMPOSIÇÃO DE ATIVOS -->
		<div class="col">
			<div class="card mb-4 rounded-3 shadow-sm border-primary">
				<div class="card-header py-3 bg-success-light border-primary">
					<h4 class="my-0 fw-normal title">Composição de Ativos</h4>
				</div>
				<div class="card-body">
					<h1 class="card-title pricing-card-title title">
						Total dos Investimentos<br>
						<small class="text-muted fw-light letters">R$ {{wallets.totalCarteira}}</small>
					</h1>

					<div class="d-flex gap-5 justify-content-center">

						<div id="container" style="width: 100%; height: 250px;">

							<script>
						  
							  // Radialize the colors
							  Highcharts.setOptions({
							      colors: Highcharts.map(Highcharts.getOptions().colors, function (color) {
							          return {
							              radialGradient: {
							                  cx: 0.5,
							                  cy: 0.3,
							                  r: 0.7
							              },
							              stops: [
							                  [0, color],
							                  [1, Highcharts.color(color).brighten(-0.3).get('rgb')] // darken
							              ]
							          };
							      })
							  });
							  
								// Build the chart
							  Highcharts.chart('container', {
							      chart: {
							          plotBackgroundColor: null,
							          plotBorderWidth: null,
							          plotShadow: false,
							          type: 'pie'
							      },
							      title: {
							          text: ''
							      },
							      tooltip: {
							          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
							      },
							      legend: {
							    	    align: 'left',
							    	    layout: 'vertical',
							    	    verticalAlign: 'middle',
							    	    x: 40,
							    	    y: 0,
							    	    padding: 3,
							            itemMarginTop: 5,
							            itemMarginBottom: 5,
							            itemStyle: {
							                lineHeight: '114px'
							            }
							      },
							      accessibility: {
							          point: {
							              valueSuffix: '%'
							          }
							      },
							      plotOptions: {
							          pie: {
							              allowPointSelect: true,
							              cursor: 'pointer',
							              dataLabels: {
							                  enabled: false
							              },
							              showInLegend: true
							          }
							      },
							      series: [{
							          name: '% Carteira',
							          colorByPoint: true,
							          data: [{
							              name: 'Tesouro Direto - R$ 1.145,43',
							              y: 61.41
							              /* ,
							              sliced: true,
							              selected: true */
							          }, {
							              name: 'Fundos Imobiliários - R$ 1.145,43',
							              y: 11.84
							          }, {
							              name: 'Ações  - R$ 1.145,43',
							              y: 10.85
							          }, {
							              name: 'Criptomoedas  - R$ 1.145,43',
							              y: 4.67
							          }, {
							              name: 'Renda Fixa  - R$ 1.145,43',
							              y: 4.18
							          }, {
							              name: 'Outros - R$ 1.145,43',
							              y: 7.05
							          }]
							      }]
							  });
						  
						  </script>

						</div>

					</div>

				</div>

			</div>

		</div>
		<!-- FINAL COMPOSIÇÃO ATIVOS --> <!-- INÍCIO LISTAGEM DE ATIVOS CARTEIRA -->
		<div
			class="p-3 mb-4 bg-light rounded-3 mt-4 bg-dark rounded-3 dropdown-menu-dark">
			<div class="container-fluid py-5">
				<h1 class="display-10 fw-bold text-white title mb-3">Wallet -
					Investimentos</h1>
				<ul class="list-unstyled mb-0">

					<!-- AÇÕES -->
					<div class="col justify-content-center m-2">
						<a
							class="btn btn-outline-light dropdown-toggle dropdown-item p-3 title"
							data-bs-toggle="collapse" href="#collapseAcao" role="button"
							aria-expanded="false" aria-controls="collapseExample"> <i
							class="bi bi-bar-chart-fill me-2"></i> Ações Brasileiras
						</a>
					</div>

					<div class="col justify-content-center m-3">

						<div class="collapse" id="collapseAcao">
							<div class="card-body p-0 m-0">

								<table class="table table-secondary table-striped m-0">

									<thead>
										<tr class="table-dark">
											<th scope="col" class="letters">Ticker</th>
											<th scope="col" class="letters">Quantidade</th>
											<th scope="col" class="letters">Preço Médio</th>
											<th scope="col" class="letters">Valor Total</th>
											<th scope="col" class="letters">Percentual da Carteira</th>
										</tr>
									</thead>

									<tbody>

										<tr v-for="wal in wallets.acao">
											<th scope="row" class="letters">{{wal.ticker}}</th>
											<td class="letters">{{wal.quantidade}}</td>
											<td class="letters">{{wal.ticker}}</td>
											<td class="letters">{{wal.total}}</td>
											<td class="letters">{{wal.ticker}}</td>
										</tr>

									</tbody>
									
								</table>

							</div>
						</div>

					</div>
					<!-- AÇÕES -->
					
					<!-- FII's -->
					<div class="col justify-content-center m-2">
						<a
							class="btn btn-outline-light dropdown-toggle dropdown-item p-3 title"
							data-bs-toggle="collapse" href="#collapseFii" role="button"
							aria-expanded="false" aria-controls="collapseExample"> <i
							class="bi bi-bar-chart-fill me-2"></i> Fundos Imobiliários
						</a>
					</div>

					<div class="col justify-content-center m-3">

						<div class="collapse" id="collapseFii">
							<div class="card-body p-0 m-0">

								<table class="table table-secondary table-striped m-0">

									<thead>
										<tr class="table-dark">
											<th scope="col" class="letters">Ticker</th>
											<th scope="col" class="letters">Quantidade</th>
											<th scope="col" class="letters">Preço Médio</th>
											<th scope="col" class="letters">Valor Total</th>
											<th scope="col" class="letters">Percentual da Carteira</th>
										</tr>
									</thead>

									<tbody>

										<tr v-for="wal in wallets.acao">
											<th scope="row" class="letters">{{wal.ticker}}</th>
											<td class="letters">{{wal.quantidade}}</td>
											<td class="letters">{{wal.ticker}}</td>
											<td class="letters">{{wal.total}}</td>
											<td class="letters">{{wal.ticker}}</td>
										</tr>

									</tbody>
									
								</table>

							</div>
						</div>

					</div>
					<!-- FII's -->
					
					<!-- Crypto -->
					<div class="col justify-content-center m-2">
						<a
							class="btn btn-outline-light dropdown-toggle dropdown-item p-3 title"
							data-bs-toggle="collapse" href="#collapseCrypto" role="button"
							aria-expanded="false" aria-controls="collapseExample"> <i
							class="bi bi-bar-chart-fill me-2"></i> Criptomoedas
						</a>
					</div>

					<div class="col justify-content-center m-3">

						<div class="collapse" id="collapseCrypto">
							<div class="card-body p-0 m-0">

								<table class="table table-secondary table-striped m-0">

									<thead>
										<tr class="table-dark">
											<th scope="col" class="letters">Ticker</th>
											<th scope="col" class="letters">Quantidade</th>
											<th scope="col" class="letters">Preço Médio</th>
											<th scope="col" class="letters">Valor Total</th>
											<th scope="col" class="letters">Percentual da Carteira</th>
										</tr>
									</thead>

									<tbody>

										<tr v-for="wal in wallets.acao">
											<th scope="row" class="letters">{{wal.ticker}}</th>
											<td class="letters">{{wal.quantidade}}</td>
											<td class="letters">{{wal.ticker}}</td>
											<td class="letters">{{wal.total}}</td>
											<td class="letters">{{wal.ticker}}</td>
										</tr>

									</tbody>
									
								</table>

							</div>
						</div>

					</div>
					<!-- Crypto -->
					
					<!-- Renda Fixa -->
					<div class="col justify-content-center m-2">
						<a
							class="btn btn-outline-light dropdown-toggle dropdown-item p-3 title"
							data-bs-toggle="collapse" href="#collapseRF" role="button"
							aria-expanded="false" aria-controls="collapseExample"> <i
							class="bi bi-bar-chart-fill me-2"></i> Renda Fixa
						</a>
					</div>

					<div class="col justify-content-center m-3">

						<div class="collapse" id="collapseRF">
							<div class="card-body p-0 m-0">

								<table class="table table-secondary table-striped m-0">

									<thead>
										<tr class="table-dark">
											<th scope="col" class="letters">Ticker</th>
											<th scope="col" class="letters">Quantidade</th>
											<th scope="col" class="letters">Preço Médio</th>
											<th scope="col" class="letters">Valor Total</th>
											<th scope="col" class="letters">Percentual da Carteira</th>
										</tr>
									</thead>

									<tbody>

										<tr v-for="wal in wallets.acao">
											<th scope="row" class="letters">{{wal.ticker}}</th>
											<td class="letters">{{wal.quantidade}}</td>
											<td class="letters">{{wal.ticker}}</td>
											<td class="letters">{{wal.total}}</td>
											<td class="letters">{{wal.ticker}}</td>
										</tr>

									</tbody>
									
								</table>

							</div>
						</div>

					</div>
					<!-- Renda Fixa -->
					
					<!-- Tesouro Direto -->
					<div class="col justify-content-center m-2">
						<a
							class="btn btn-outline-light dropdown-toggle dropdown-item p-3 title"
							data-bs-toggle="collapse" href="#collapseTD" role="button"
							aria-expanded="false" aria-controls="collapseExample"> <i
							class="bi bi-bar-chart-fill me-2"></i> Tesouro Direto
						</a>
					</div>

					<div class="col justify-content-center m-3">

						<div class="collapse" id="collapseTD">
							<div class="card-body p-0 m-0">

								<table class="table table-secondary table-striped m-0">

									<thead>
										<tr class="table-dark">
											<th scope="col" class="letters">Ticker</th>
											<th scope="col" class="letters">Quantidade</th>
											<th scope="col" class="letters">Preço Médio</th>
											<th scope="col" class="letters">Valor Total</th>
											<th scope="col" class="letters">Percentual da Carteira</th>
										</tr>
									</thead>

									<tbody>

										<tr v-for="wal in wallets.acao">
											<th scope="row" class="letters">{{wal.ticker}}</th>
											<td class="letters">{{wal.quantidade}}</td>
											<td class="letters">{{wal.ticker}}</td>
											<td class="letters">{{wal.total}}</td>
											<td class="letters">{{wal.ticker}}</td>
										</tr>

									</tbody>
									
								</table>

							</div>
						</div>

					</div>
					<!-- Tesouro Direto -->

				</ul>
			</div>

		</div>



		<!-- INÍCIO GRAFICO EVOLUÇÃO PATRIMONIAL -->
		<div id="container2" style="width: 100%; height: 300px;">

			<script>
		      	
			      	Highcharts.chart('container2', {
			      	    chart: {
			      	        type: 'column'
			      	    },
			      	    title: {
			      	        text: 'Evolução Patrimonial'
			      	    },
			      	    subtitle: {
			      	        text: 'Evolução dos Investimentos'
			      	    },
			      	    xAxis: {
			      	        categories: [
			      	            'Jan',
			      	            'Fev',
			      	            'Mar',
			      	            'Abr',
			      	            'Mai',
			      	            'Jun',
			      	            'Jul',
			      	            'Ago',
			      	            'Set',
			      	            'Out',
			      	            'Nov',
			      	            'Dez'
			      	        ],
			      	        crosshair: true
			      	    },
			      	    yAxis: {
			      	        min: 0,
			      	        title: {
			      	            text: 'Real (R$)'
			      	        }
			      	    },
			      	    tooltip: {
			      	        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
			      	        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name} : </td>' +
			      	            		 '<td style="padding:0"><b>{point.y:.2f}</b></td></tr>',
			      	        footerFormat: '</table>',
			      	        shared: true,
			      	        useHTML: true
			      	    },
			      	    plotOptions: {
			      	        column: {
			      	            pointPadding: 0.2,
			      	            borderWidth: 0
			      	        }
			      	    },
			      	    series: [{
			      	        name: '2022',
			      	        data: [149,90, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6]
	
			      	    }, {
			      	        name: '2021',
			      	        data: [83.6, 78.8, 98.5, 93.4, 106.0, 84.5, 105.0, 104.3, 91.2, 83.5, 106.6, 92.3]
	
			      	    }]
			      	});
		      	
		      	</script>

		</div>
		<!-- TÉRMINO EVOLUÇÃO PATRIMONIAL --> </main>

	</div>

	<div th:replace="~{layout :: footer}" />

	<script>
	
		function onLoad() {
	        var app = new Vue(
       		{
             		el: '#wallet',
             		data: {
               		wallets : []
             		}, 
				mounted () {
           			axios
                    .get('http://localhost:8080/api/wallet/geral')
                    .then(response => (this.wallets = response.data))
				}
			});
		}
		
	</script>

	<!-- VUE.js -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

	<!-- AXIOS - BIBLIOTECA PARA CONSUMO DE API's -->
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</body>
</html>